header{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#banner{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

.footer_column{
    display: flex;
    justify-content: space-around;
}

.carousel_container{
        margin: auto;
        margin-top: 50px;
        width: 75%;
        height: auto;
}